@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:aquamarine;font-size:45px">
        <b>NullPointer.com</b>
    </div>
    <div>
        <pre>
            Hello Dear User, 
                    we just need to verify your e-Mail address for complete your registration! 
                    please click below link to complete your registration.
                      <a href="@ViewBag.ConfirmationLink">Click Here</a>
        </pre>
    </div>
</body>
</html>
