@using NigmetAli.Classes

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<Question>

<div class="container col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                    @foreach (Question question in Model)
                    {
                <div class="col-md-5">
                        <ul class="list-group">
                            <li class="list-group-item" style="border:none">
                                <a class="text-muted">Score</a>
                            </li>
                            <li class="list-group-item" style="border:none;padding-left:80%;">
                                <p class="text-muted">@question.Score</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-group">
                            <li class="list-group-item" style="border:none">
                                <a class="text-muted">Answers</a>
                            </li>
                            @{int sayac = 0;}
                            <li class="list-group-item" style="border:none;padding-left:100%;">
                                @foreach (Answer answer in ViewBag.Answers)
                                {
                                    if (answer.QuestionId == question.Id)
                                    {
                                        sayac++;
                                    }
                                }
                                <p class="text-muted">@sayac</p>
                            </li>
                            <hr />
                        </ul>
                </div>
                    }
            </div>
        </div>
        <div class="col-md-9" style="padding-left:0px;">
            <div class="container col-md-10">
                <div class="col-md-10">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item">
                                <a href="/QuAnCoTa/QuestionDetails?id=@question.Id" class="btn-link h3">@question.Description</a>
                            </li>
                            <li class="list-group-item">
                                @{
                                    string[] words = question.Tags.Split(Convert.ToChar(" "));
                                    foreach (string word in words)
                                    {
                                        if (word != "")
                                        {
                                            var url = HttpUtility.UrlEncode(word);
                                            <a href="/QuAnCoTa/Tag?TName=@url" name="TagName" class="btn-link bg-success" style="border-style:solid;border:1px solid;border-radius:3px;color:cadetblue">@word</a>
                                        }
                                    }
                                }
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
