@using NigmetAli.Classes

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<Question>

<div class="container col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item text-center">
                                <a class="text-center text-info">Score</a>
                            </li>
                            <li class="list-group-item text-center">
                                <p class="btn btn-success">@question.Score</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item text-center">
                                <a class="text-info">Answers</a>
                            </li>
                            int sayac = 0;
                            <li class="list-group-item text-center">
                                @foreach (Answer answer in ViewBag.Answers)
                                {
                                    if (answer.QuestionId == question.Id)
                                    {
                                        sayac++;
                                    }
                                }
                                <p class="btn btn-danger">@sayac</p>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding-left:0px;">
            <div class="container col-md-10">
                <div class="col-md-10">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item">
                                <a href="/QuAnCoTa/QuestionDetails?id=@question.Id" class="btn-link">@question.Description</a>
                            </li>
                            <li class="list-group-item">
                                @{
                                    string[] words = question.Tags.Split(Convert.ToChar(" "));
                                    foreach (string word in words)
                                    {
                                        if (word != "")
                                        {
                                            var url = HttpUtility.UrlEncode(word);
                                            <a href="/QuAnCoTa/Tag?TName=@url" name="TagName" class="btn btn-info urlhash">@word</a>
                                        }
                                    }
                                }
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
