
@{
    ViewBag.Title = "Tag";
}

@using NigmetAli.Classes

@model List<Question>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item">
                                <p class="text-center list-group-item-info">Score</p>
                            </li>
                            <li class="list-group-item">
                                @question.Score
                            </li>
                            <br />
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        @foreach (Question question in Model)
                        {
                            <li class="list-group-item">
                                <a href="#" class="text-center list-group-item-success">Answers</a>
                            </li>
                            int sayac = 0;
                            <li class="list-group-item">
                                @foreach (Answer answer in ViewBag.Answers)
                                {
                                    if (answer.QuestionId == question.Id)
                                    {
                                        sayac++;
                                    }
                                }
                                <p class="btn btn-danger">@sayac</p>
                            </li>
                            <br />
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            @foreach (Question question in Model)
                            {
                                <li class="list-group-item">
                                    @question.Description
                                </li>
                                <li class="list-group-item">

                                    @{
                                        string[] words = question.Tags.Split(Convert.ToChar(" "));
                                        foreach (string word in words)
                                        {
                                            <form method="post" action="/QuAnCoTa/Tag" role="form" class="list-group-item">
                                                <input type="hidden" name="TagName" value="@word" />
                                                <button type="submit" class="btn btn-info">@word </button>
                                            </form>
                                        }
                                    }

                                </li>
                                <br />
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

