
@{
    ViewBag.Title = "Tag List";
}

@using NigmetAli.Classes

@model List<Tag>

<div class="container">
    <div class="row col-md-8">
        <ul class="col-md-12 list-group">
            <li class="col-md-12 list-group-item text-info text-center h4 h"><h4><strong>Tags</strong></h4></li>
        </ul>
        <form action="/QuAnCoTa/SearchTag" method="post" role="form" class="form-group">
            <div class="form-inline">
                <input class="form-control search" type="text" placeholder="Filter..." name="FilterByTag" />
                <button type="submit" class="form-control notnull"><span><i class="glyphicon glyphicon-search"></i></span></button>
            </div>
        </form>
        <ul class="col-md-12 list-group">
            @foreach (Tag item in Model)
            {
                var url = HttpUtility.UrlEncode(item.QTags);
                <li class="col-md-3 list-group-item text-center">
                    <hr />
                    <a href="/QuAnCoTa/Tag?TName=@url" class="btn btn-info">@item.QTags</a>
                    <hr />
                </li>
            }
        </ul>
    </div>
</div>

